.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.stoneStyle {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: white;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 50%;
}
